---
import '../styles/global.scss';
const { title = 'Maysen Greenwood: Personal Portfolio', description = 'The personal portfolio of Maysen Greenwood' } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
