---
const { title = 'Maysen Greenwood: Personal Portfolio', description = 'The personal portfolio of Maysen Greenwood' } = Astro.props;
---

<meta charset="UTF-8" />
<link rel="icon" type="image/x-icon" href="https://ik.imagekit.io/maysentg/tr:w-25,h-25/self-portrait.jpg">
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />

<title>{title}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script>
  window.addEventListener('load', (event) => {
    try {
      document.querySelector('a.active').classList.remove('active');
    } catch { }
    document.getElementById(window.location.pathname).classList.toggle('active');
    document.getElementById(window.location.pathname+"/").classList.toggle('active');
  });
</script>